.row
    .col-12
        .alert.alert-secondary.text-center 
          strong Kategori
.row 
    table.table.table-striped
      thead
        tr
            td 
              strong # 
            td 
              strong NAME
            td
              strong ACTION
      tbody#listCategoryTable


script(src='/javascripts/admin/category.js')  
