extends layout

block content
  .container-fluid
    .row
      .col-3
        #list-tab.list-group(role='tablist')
          a#list-pemesanan-list.list-group-item.list-group-item-action.active(data-toggle='list' href='#list-pemesanan' role='tab' aria-controls='pemesanan') Kategori
          a#list-pembayaran-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-pembayaran' role='tab' aria-controls='pembayaran') FAQ
      .col-8
        #nav-tabContent.tab-content
          #list-pemesanan.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='list-pemesanan-list') 
            include category.pug
          #list-pembayaran.tab-pane.fade(role='tabpanel' aria-labelledby='list-pembayaran-list')
            include faq.pug

  script(src='/javascripts/admin/admin.js')  
