html
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-md
        a.navbar-brand(href='#') hafidzlibrary CMS
        button.btn.btn-warning.d-flex#signout
          span.fa.fa-sign-out Sign Out