.bg-light.text-black#category.py-5
    .container-fluid
        .row.py-3
            .col-md-3.py-2 
                //- category
                .card
                    .card-header.text-center.bg-pink.text-white Kategori
                    ul.list-group#listCategory
                        span.spinner-border.spinner-border.text-pink.mx-auto.my-5#listCategoryLoader
            .col.md-9.py-2
                //- search & filter
                form#packageListForm
                .row.py-2
                    .col-md-3
                        .form-group
                            select.form-control.filter
                                option(value="") Filter
                                option(value="unggulan") Unggulan
                                option(value="obral") Obral 
                    .col-md-3                   
                        .form-group
                            .input-group
                                input.form-control(type="text", placeholder="Pencarian", name="search")
                    .col-md-2
                        .btn.btn-info.disabled#clearFilter
                            | Bersihkan
                    .col-md-1
                    .col-md-3
                        //- #page
                        //-     ul.pagination
                //- list
                .row.row-cols-1.row-cols-md-4.listPackage
                    
                        
.modal.fade.bd-example-modal-xl#detail
  .modal-dialog.modal-xl
    .modal-content#content

script(src='/javascripts/category.js')  
