.bg-light.text-black
    .container-fluid
        .row.py-2
            .col-md-3.py-2 
                //- category
                .card
                    .card-header.text-center.bg-info.text-white Kategori
                    ul.list-group
                        li.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center Mandira
                            span.badge.badge-secondary.badge-pill 10
            .col.md-9.py-2
                //- search & filter
                form
                .row.py-2
                    .col-md-3
                        .form-group
                            select.form-control
                                option Filter
                                option Unggulan
                                option Obral 
                    .col-md-6                   
                        .form-group
                            .input-group
                                input.form-control(type="text", placeholder="Pencarian")
                                .input-group-append
                                    button.btn.btn-outline-primary(type="button")
                                        i.fa.fa-search  
                    .col-md-3
                        ul.pagination.justify-content-end
                            li.page-item
                                a.page-link(href="")
                                    span &laquo;
                                    span.sr-only Previous
                            li.page-item
                                a.page-link(href="") 1
                            li.page-item
                                a.page-link(href="") 2
                            li.page-item
                                a.page-link(href="") 3
                            li.page-item
                                a.page-link(href="")
                                    span &raquo;
                                    span.sr-only Next
                //- list
                .row.row-cols-1.row-cols-md-4
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book.png", alt="")
                            .card-body
                                h5.card-title.text-center Wahana Bermain Anak Cerdas
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book2.jpg", alt="")
                            .card-body
                                h5.card-title.text-center Nabiku Idolaku Anak
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book2.jpg", alt="")
                            .card-body
                                h5.card-title.text-center Nabiku Idolaku Anak
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book2.jpg", alt="")
                            .card-body
                                h5.card-title.text-center Nabiku Idolaku Anak
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book2.jpg", alt="")
                            .card-body
                                h5.card-title.text-center Nabiku Idolaku Anak
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book2.jpg", alt="")
                            .card-body
                                h5.card-title.text-center Nabiku Idolaku Anak
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book2.jpg", alt="")
                            .card-body
                                h5.card-title.text-center Nabiku Idolaku Anak
                    .col.mb-4
                        .card
                            img.img-fluid.img-thumbnail.card-img-top(src="images/card-book2.jpg", alt="")
                            .card-body
                                h5.card-title.text-center Nabiku Idolaku Anak
                        
script(src='/javascripts/category.js')  
