.bg-light.text-black#faq.py-5
    .container-fluid
        .row.text-center
            .col-12
                .heading
                    h2.h1-responsive.font-weight-bold.my-5 Shopping Info
        #accordion

script(src='/javascripts/faq.js')  
