.bg-dark-purple.text-white#footer
  .container-fluid
    .row.py-2
      .col-md-4.py-2 
      .col-md-4.py-2 
        h5.text-center.mb-4 Hubungi Kami
        p.text-center
          i.fa.fa-whatsapp.mr-3
          span 0822-9959-7436
        p.text-center
          i.fa.fa-envelope-o.mr-3
          span hafidzlibrary@gmail.com
        p.text-center
          i.fa.fa-facebook.mr-3
          span hafidzlibrary
      .col-md-4.py-2 
    .row.py-2
        .col-md-12
            h6.text-center Copyright &copy; HEXA 2020 | All rights reserved.

