.bg-grey.text-dark#footer
  .container-fluid
    .row
      .col-md-4 
      .col-md-4
        h5.text-center.mb-4 Tentang Kami
      .col-md-4
    .row
      .col
        p.text-center
          | Hafidzlibrary.com adalah Sebuah online store amanah yang menyediakan berbagai macam buku paket edukasi anak, mainan edukasi anak, serta buku-buku lainnya. 
    .row
      .col
        p.text-center
          | Untuk dapat terus mengikuti informasi promo dan produk-produk terbaru dari kami, silahkan bergabung bersama kami pada: 
    .row.py-3
      .col-md-4
        p.text-center
          i.fa.fa-whatsapp.mr-3
          span 0822-9959-7436
      .col-md-4 
        p.text-center
          i.fa.fa-envelope-o.mr-3
          span hafidzlibrary@gmail.com
      .col-md-4
        p.text-center
          i.fa.fa-instagram.mr-3
          a(href="https://instagram.com/hafidzlibrary").text-dark
            span hafidzlibrary
img(src="images/footer2.jpeg", alt="", width="100%")
.bg-grey.py-2
  .row
    .col-md-12
        h6.text-center Copyright &copy; HEXA 2020 | All rights reserved.


