extends layout

block content
    include home.pug
    //- include toast.pug
    include category.pug
    include shopping-info.pug
    include reseller.pug
    include testimoni.pug
    include faq.pug