img(src="images/header2.jpg", alt="", width="100%")#home
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark-pink.sticky-top.mb-3
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#")
                img(src="images/logo.png", alt="", width="300px")#home
        ul.nav.navbar-nav.ml-auto
            li.nav-item-active
                a.text-white.nav-link(href="#home") 
                    span Home
            li.nav-item
                a.text-white.nav-link(href="#category") 
                    span Produk
            li.nav-item
                a.text-white.nav-link(href="#shoppingInfo") 
                    span Shopping Info
            li.nav-item
                a.text-white.nav-link(href="#reseller") 
                    span Reseller
            li.nav-item
                a.text-white.nav-link(href="#testimoni") 
                    span Testimoni
            li.nav-item
                a.text-white.nav-link(href="#faq") 
                    span FAQ
            li.nav-item
                a.text-white.nav-link(href="#footer") 
                    span Kontak
    
script(src='/javascripts/navbar.js')  
