nav.navbar.navbar-expand-sm.navbar-dark.bg-primary.sticky-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#")
                | hafidzlibrary
        ul.nav.navbar-nav.ml-auto
            li.nav-item-active
                a.text-white.nav-link(href="#") 
                    span Home
            li.nav-item
                a.text-white.nav-link(href="#howToOrder") 
                    span Cara Order
            li.nav-item
                a.text-white.nav-link(href="#arisan") 
                    span Arisan
            li.nav-item
                a.text-white.nav-link(href="#testimoni") 
                    span Testimoni
            li.nav-item
                a.text-white.nav-link(href="#faq") 
                    span FAQ
    
script(src='/javascripts/navbar.js')  
