.bg-light.text-black#reseller.py-5
    .container-fluid
        .row.text-center
            .col-12
                .heading
                    h2.h1-responsive.font-weight-bold.my-5 Reseller
        .row
            .col-md-6
                .alert.alert-secondary
                    p Jadi reseller di Hafidzlibrary.com itu enak banget lho… 
                    ul#benefitReseller
                        li Join Free
                        li Tidak harus beli barang dulu
                        li No tutup poin
                        li No kejar target 
                        li Diajarkan dari nol sampai bisa berjualan 
                        li Komisi dan Reward yang sangat menggiurkan 
                        li No ribet packing  
                        li Tanpa nyetok 
                        li Reseller terdaftar resmi 
            .col-md-6
                .alert.alert-success
                    p Keuntungan
                    ul
                        li Tanpa biaya pendaftaran alias gratis 
                        li Harga produk berlaku nasional dan bergaransi resmi 
                        li Dapat komisi penjualan  
                        li Tanpa menyetok barang 
                        li Tanpa ribet packing dan kirim paket   
                        li Bisa dikerjakan dimana saja dan kapan saja   
                        li Bahan iklan sudah disediakan, tinggal pakai   
                        li Ada training produk online   
                        li Ada team support yang siap membantu 
        .row
            .col-md-12
                .alert.alert-danger
                    p Syarat
                    ul
                        li Memiliki kemauan keras untuk sukses dalam keberkahan 
                        li Memiliki smartphone yang terkoneksi baik dengan aplikasi WhatsApp, Facebook, Instagram, dan Telegram 
                        li Memiliki Kartu Tanda Penduduk yang masih berlaku 
        .row
            .col-md-12
                .alert.alert-default.text-center
                    | Anda berminat bergabung menjadi reseller? 
                    br
                    br
                    | Daftar sekarang juga! 
                    br
                    br
                    a.btn.btn-info(href="https://bit.ly/DaftarResellerHafidzLibrary", target="_blank") Klik Disini
