.bg-light.text-black#reseller.py-5
    .container-fluid
        .jumbotron
            h1.display-4 Reseller
            p.lead Lorem ipsum dolor sit amet
            hr.my-4
            p lorem ipsum
            p.lead
                a.btn.btn-primary.btn-lg(href="") how
