.bg-light.text-black#shoppingInfo.py-5
    .container-fluid
        .row.text-center
            .col-12
                .heading
                    h2.h1-responsive.font-weight-bold.my-5 Shopping Info
        .row
            .col
                p.text-center
                    | hafidzlibrary adalah Sebuah online store amanah yang menyediakan berbagai macam buku paket edukasi anak, mainan edukasi anak, serta buku-buku lainnya. 
        .row
            .col-4
                #list-tab.list-group(role='tablist')
                    a#list-pemesanan-list.list-group-item.list-group-item-action.active(data-toggle='list' href='#list-pemesanan' role='tab' aria-controls='pemesanan') PEMESANAN
                    a#list-pembayaran-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-pembayaran' role='tab' aria-controls='pembayaran') CARA PEMBAYARAN 
                    a#list-konfirmasi-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-konfirmasi' role='tab' aria-controls='konfirmasi') KONFIRMASI PEMBAYARAN
                    a#list-pengiriman-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-pengiriman' role='tab' aria-controls='pengiriman') PENGIRIMAN
            .col-8
                #nav-tabContent.tab-content
                    #list-pemesanan.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='list-pemesanan-list')
                        .alert.alert-primary.text-center(role="alert")
                            strong Pemesanan
                        .alert.alert-light
                            | 1. Pemesanan Cash
                            hr
                            | Silahkan Email atau Whatsapp dengan format sebagai berikut :
                            br 
                            br
                            | Nama Lengkap – Alamat Lengkap (RT, RW, Kelurahan/Desa, Kabupaten/Kota, Provinsi, Kode Pos) – Email – No HP – Produk – Jumlah  
                            br 
                            br
                            .alert.alert-warning
                                | Contoh pemesanan cash: 
                                br
                                br
                                | Putri Ayu – Villa Gading Harapan Gang Arjuna VI Kel Kebalen Kec Babelan Bekasi Utara 17610 – hafidzlibrary@gmail.com – 082299597436 – Halo Balita – 1 paket
                            br
                            | 2. Pemesanan Arisan
                            hr
                            b Bagaimana Cara Ikut Arisan Produk Edukasi Anak?
                            ul
                                li Mengisi form pendaftaran disini 
                                    a(href="http://bit.ly/FormArisanHafidzlibrary") http://bit.ly/FormArisanHafidzlibrary
                                li Memilih arisan 5 bulan atau 10 bulan (awal bulan/akhir bulan)
                                    ul 
                                        li 
                                            b Arisan awal bulan, 
                                            | batas transfer tanggal 14 setiap bulannya dan kocokan tanggal 15
                                        li 
                                            b Arisan akhir bulan, 
                                            | batas transfer tanggal 30/31 setiap bulannya dan kocokan tanggal 1
                                li Bergabung di grup WA selama arisan berlangsung
                                li Tertib dan amanah membayar arisan sesuai tenggat waktu yang disepakati
                                li Mendapat izin dari pasangan atau penanggung jawab jika terjadi 
                                    i force majeur

                            b Fasilitas yang akan didapat:
                            ul#benefitReseller
                                li Arisan terdaftar resmi di sistem PT. Mandira Dian Semesta
                                li Arisan dikelola oleh admin yang professional dan amanah
                                li Mendapat subsidi ongkir sebesar Rp 300.000,-
                                li Arisan dirandom setiap bulan
                                li Jika nama keluar di hasil random, produk akan dikirim dengan estimasi 4-5 hari kerja setelah random arisan (di luar durasi ekspedisi)

                    #list-pembayaran.tab-pane.fade(role='tabpanel' aria-labelledby='list-pembayaran-list') 
                        .alert.alert-primary.text-center(role="alert")
                            strong Cara Pembayaran  
                        .alert.alert-light
                            | Setelah rincian pesanan dari Anda kami terima, selanjutnya Anda dapat melakukan pembayaran ke salah satu rekening bank kami : 
                            br
                            br
                            ul 
                                li Bank Mandiri
                    #list-konfirmasi.tab-pane.fade(role='tabpanel' aria-labelledby='list-konfirmasi-list')
                        .alert.alert-primary.text-center(role="alert")
                            strong Konfirmasi  
                        .alert.alert-light
                            br
                            br
                            | Konfirmasikan pembayaran Anda kepada kami melalui email atau Whatsapp dengan mengirimkan bukti transfer. Jika Anda tidak melakukan konfirmasi pembayaran, maka pemesanan dianggap tidak ada dan barang tidak akan dikirim. 
                    #list-pengiriman.tab-pane.fade(role='tabpanel' aria-labelledby='list-pengiriman-list')
                        .alert.alert-primary.text-center(role="alert")
                            strong Pengiriman  
                        .alert.alert-light
                            | Setelah konfirmasi pembayaran dari Anda kami terima, selanjutnya barang yang dipesan akan kami siapkan dan kirimkan ke alamat Anda. Kami menggunakan ekspedisi terpercaya seperti JNE, POS, SICEPAT (Tergantung wilayah). Pengiriman produk estimasi 1-2 minggu setelah Nomor Surat Pemesanan keluar, tergantung wilayah pengiriman dan ekspedisi. Biaya pengiriman dihitung berdasarkan berat per kilogram dan kami menyediakan gratis ongkir sampai dengan Rp 300.000,-
