.bg-light.text-black#testimoni.py-5
    .section-ptb.bg-white.bg-5
        .container
            .row.text-center
                .col-12
                    .heading.mb-80
                        h2.h1-responsive.font-weight-bold.my-5 Testimoni
                        p.mb-20 
                        hr.line.bw-2.mx-auto.line-sm.mb-5
                        hr.line.bw-2.mx-auto
            .row.text-center
                .col-12
                    #carouselExampleControls.carousel.slide(data-ride="carousel", data-interval="3000")
                        .carousel-inner#testimoniSlider
                        a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
                            span.icon-prev(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
                            span.icon-next(aria-hidden='true')
                            span.sr-only Next

script(src='/javascripts/testimoni.js')  

